body{
  background: #EDF2F7;
}

/*
============================
header styles
============================
*/

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h4{
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 150%;
  color: #1A202C;
}

.header .connect-users-btn{
   color:white;
  background: #475DE5;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-transform: unset;
  border-radius: 0.25rem;
  width: 7.625rem;
  height: 2.5rem;
}

.header .connect-users-btn:hover{
  background-color: #475de5cc;
}

.MuiInput-underline::after,.MuiInput-underline::before{
  /* border-bottom: none !important; */
  display: none;
}

.MuiInputAdornment-root.MuiInputAdornment-positionEnd{
  display: none !important;
}

/*
============================
end of header styles
============================
*/

/*
============================
MatToolpar css 
============================
*/

.MTableToolbar-actions-8 .MuiButtonBase-root.MuiIconButton-root{
  border-radius: 0 !important;
  /* position: absolute !important;
  top: -57px;
  right: 0px; */
}

.custom-btn{
  width: 12rem !important;
}

.MTableToolbar-searchField-10{
  position: absolute !important;
  top: -4.85rem;
  left: 210%;
}

@media only screen and (max-width: 1230px) {
  .MTableToolbar-searchField-10{
    left: 205%;
  }
}

@media only screen and (max-width: 1170px) {
  .MTableToolbar-searchField-10{
    left: 195%;
  }
}

@media only screen and (max-width: 1050px) {
  .MTableToolbar-searchField-10{
    left: 180%;
  }
}

@media only screen and (max-width: 950px) {
  .MTableToolbar-searchField-10{
    left: 160%;
  }
}

@media only screen and (max-width: 800px) {
  .MTableToolbar-searchField-10{
    left: 140%;
  }
}

@media only screen and (max-width: 700px) {
  .MTableToolbar-searchField-10{
    left: 140%;
  }
}

.MuiToolbar-root.MuiToolbar-regular{
  background-color: white;
  padding: 0px;
  flex: 0 0 34%;
  max-width: 34%;
}

.custom-mattoolpar-container{
  background-color: white;
  display: flex;
}

.action-buttons.mattoolpar-btns{
  align-self: center;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

/* .action-buttons  */
.MuiToolbar-root .action-btn{
  background-color: #FFFFFF;
  border: 1px solid #E2E8F0;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(45, 55, 72, 0.08);
  border-radius: 0.25rem;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
  color: #4A5568;
  margin-right: 0.5rem;
  padding: 0.4375rem 0.75rem;
}

.MuiToolbar-root .action-btn svg{
  margin-right: 8px;
}

.MuiToolbar-root.MuiToolbar-regular .MuiTypography-h6{
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: #2D3748;
}

/*
============================
end of MatToolpar css  
============================
*/

/*
============================
user card styles
============================
*/
.user-card{
  display: flex;
}

.user-card .img-contianer{
  flex: 0 0 10%;
  max-width: 10%;
}

.user-card .data-container{
  flex: 0 0 90%;
  max-width: 90%;
}

@media only screen and (max-width: 1000px) {
  .user-card .img-contianer{
    flex: 0 0 20%;
    max-width: 20%;
  }
  .user-card .data-container{
    flex: 0 0 80%;
    max-width: 80%;
  }
}

.user-card .data-container .name, .user-card .data-container .email{
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
}

.user-card .data-container .name{
  color: #1A202C;
}

.user-card .data-container .email{
  color: #718096;
}
/*
============================
end of user card style
============================
*/

/*
============================
custom chips styles
============================
*/
.custom-chips{
  /* width: 118px;
  height: 24px; */
  border-radius: 0.25rem !important;
}

.custom-chips.accountMChip{
  background-color: #FEDDE6;
  color: #922B6C;
}

.custom-chips.adminChip{
  background-color: #EFE2FE;
  color: #574195;
}

.custom-chips.agentChip{
  background: #C8E7F9;
  color: #2C5282;
}

.custom-chips.externalRChip{
  background: #FEEBC8;
  color: #91472C;
}

/*
============================
end of custom chips styles
============================
*/

/*
============================
table styles css
============================
*/
.MuiPaper-elevation2{
  padding: 20px;
}

.MuiTable-root .MuiTableRow-head .MuiTableCell-head{
  border-bottom: 0px;
}

.MuiTable-root .MuiTableBody-root .MuiTableRow-root:hover{
  cursor: pointer;
  background-color: #F7FAFC;
  border-radius: 0.25rem;
  border-left: 0.4375rem solid #475DE5;
}

.MuiTable-root .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root{
  border-bottom: 0px;
}

.MuiCheckbox-root.MuiCheckbox-colorSecondary .MuiSvgIcon-root{
  color: #CBD5E0;
}

.MuiCheckbox-root.MuiCheckbox-colorSecondary.PrivateSwitchBase-checked-15.Mui-checked .MuiSvgIcon-root{
  color: #475DE5;
}

/*
============================
end of table styles css
============================
*/